---
import BlogSectionLayout from "../layouts/BlogSectionLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Button from "../components/Button.astro";

const pageTitle = "Blog";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

type BlogEntry = CollectionEntry<"blog">

// filter out drafts
const publishedPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const allTags = [
  ...new Set(publishedPosts.map((post: BlogEntry) => post.data.tags).flat()),
];

---

<BlogSectionLayout title={pageTitle}>
  <h2 class="mt-5 p-2 text-4xl text-primary">{pageTitle}</h2>

  <section class="posts">
    <ul>
      {
        publishedPosts
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((post: BlogEntry) => <BlogPost url={`/blog/${post.slug}`} post={post} />)
      }
    </ul>
  </section>
  <h2 class="p-2 text-xl text-secondary" id="tags">Tags</h2>
  <section class="tags mb-5 flex flex-wrap justify-start space-x-2 p-1">
    {
      allTags.map((tag) => (
        <Button btn="secondary" href={`/tags/${tag}`}>
          <span class="p-1">{tag}</span>
        </Button>
      ))
    }
  </section>
</BlogSectionLayout>
