---
import BlogSectionLayout from "../layouts/BlogSectionLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Button from "../components/Button.astro";

const pageTitle = "Blog";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
// filter out drafts
const publishedPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
const allTags = [
  ...new Set(
    publishedPosts.map((post: CollectionEntry<"blog">) => post.data.tags).flat()
  ),
];
---

<BlogSectionLayout title={pageTitle}>
  <h2 class="text-primary p-2 text-4xl mt-5">{pageTitle}</h2>

  <section class="posts">
    <ul>
      {
        publishedPosts
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((post: CollectionEntry) => (
            <BlogPost
              url={`/blog/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              tags={post.data.tags}
            />
          ))
      }
    </ul>
  </section>
  <h2 class="text-secondary p-2 text-xl" id="tags">Tags</h2>
  <section class="tags flex flex-wrap justify-start space-x-2 p-1 mb-5">
    {
      allTags.map((tag) => (
        <Button btn="secondary" href={`/tags/${tag}`}>
          <span class="p-1">{tag}</span>
        </Button>
      ))
    }
  </section>
</BlogSectionLayout>
