---
import Button from "../components/Button.astro";

const { url, title, description, pubDate, tags } = Astro.props;
---

<li
  class="flex flex-wrap justify-around m-2 p-2 border border-dashed rounded border-accent"
>
  <a href={url} class="title text-primary w-full">{title}</a>
  <em class="desc w-full">{description}</em>
  <span class="date">{pubDate.slice(0, 10)}</span>
  <span class="grow flex flex-wrap justify-end"
    >{
      tags.map((tag: string) => (
        <span class="p-1">
          <Button btn="secondary" href={`/tags/${tag}`}>
            {tag}{" "}
          </Button>
        </span>
      ))
    }<span> </span>
  </span>
</li>
