---
import BlogSectionLayout from "./BlogSectionLayout.astro";
import Button from "../components/Button.astro";
import { render } from "astro:content";
const { post } = Astro.props;

const { remarkPluginFrontmatter: rmFrontmatter } = await render(post);
const frontmatter = post.data;
frontmatter.words = rmFrontmatter.words;
frontmatter.readingTime = rmFrontmatter.readingTime;
---

<BlogSectionLayout title={frontmatter.title}>
  <article class="prose mx-auto px-2 lg:px-0">
    <section class="flex flex-wrap justify-end space-x-1">
      <h2 class="w-full text-primary">{frontmatter.title}</h2>
      <h3 class="w-full text-secondary"><em>{frontmatter.description}</em></h3>
      {
        frontmatter.image && (
          <img src={frontmatter.image.url} width="100%" alt={frontmatter.image.alt} />
        )
      }
      <span class="flex grow justify-end space-x-2 pt-4 text-sm">
        <div class="opacity-50">{frontmatter.words} words</div>
        <div class="opacity-50">({frontmatter.readingTime})</div>
        <div class="">{frontmatter.pubDate.toLocaleDateString()}</div>
      </span>
    </section>

    <div class="rounded border-t border-dashed">
      <slot />
    </div>
  </article>

  <section class="tags m-2 mt-5 flex justify-end space-x-2 p-1">
    {
      frontmatter.tags.map((tag: string) => (
        <Button btn="secondary" href={`/tags/${tag}`}>
          {tag}
        </Button>
      ))
    }
  </section>
</BlogSectionLayout>
