---
import BlogSectionLayout from "./BlogSectionLayout.astro";
import Button from "../components/Button.astro";
const { frontmatter } = Astro.props;
---

<BlogSectionLayout title={frontmatter.title}>
  <article class="prose">
    <section>
      <h2 class="text-primary">{frontmatter.title}</h2>
      <h3 class="text-secondary"><em>{frontmatter.description}</em></h3>
      <p>{frontmatter.pubDate.toLocaleDateString()}</p>
      {
        frontmatter.image && (
          <img
            src={frontmatter.image.url}
            width="100%"
            alt={frontmatter.image.alt}
          />
        )
      }
    </section>

    <slot />
  </article>

  <section class="tags flex justify-end space-x-2 p-1 m-2 mt-5">
    {
      frontmatter.tags.map((tag: string) => (
        <Button btn="secondary" href={`/tags/${tag}`}>
          {tag}
        </Button>
      ))
    }
  </section>
</BlogSectionLayout>
